[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=mdb1_qtproject
Exec=/opt/mdb1_qtproject/bin/mdb1_qtproject
Icon=mdb1_qtproject64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
